---
name: Publish to PyPI / GitHub

on:
  push:
    tags:
      - "v*"

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # MANDATORY for trusted publishing to PyPI
      contents: write  # MANDATORY for the Github release action

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Build source and wheel distributions
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build twine
          python -m build
          twine check --strict dist/*

      - name: Create Release Notes
        uses: actions/github-script@v8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            await github.request(`POST /repos/${{ github.repository }}/releases`, {
                tag_name: "${{ github.ref }}",
                generate_release_notes: true
            });

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
